/* ======================================== */
/* RESET */
/* ======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ======================================== */
/* BODY */
/* ======================================== */
  

body {
    background: #f8fff8;
    font-family: "Bricolage Grotesque", Helvetica, sans-serif;
    color: #1d1d1f;
    overflow-x: hidden;
}

/* ======================================== */
/* NAVIGATION MENU */
/* ======================================== */

.navigation-menu {
  /* 1rem = 14px; px: invariável de tamanho; rem: varia com o tamanho  */
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);
  backdrop-filter: blur(40px);
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.5rem;
}

@media (width >= 768px) {
  .navigation-menu {
    padding: 0 4rem;
  }
}

.navigation-menu-list {
  display: flex;
  gap: 3rem;
}

.navigation-menu-list-item {
  height: 6rem;
}

.navigation-menu-link {
  color: rgb(0, 0, 0);
  position: relative;
  height: 6rem;

  display: flex;
  gap: 0.75rem;
  align-items: center;

  font-size: 1rem; /* 16px */
  line-height: 1; /* 16px */
  letter-spacing: 0.125em; /* 16px * 0.125 = 2px */
  text-transform: uppercase;

  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0);

  transition-property: border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }

  &[data-state="active"] {
    border-bottom-color: rgba(255, 255, 255, 1);
  }
}

.navigation-menu-link-number {
  font-weight: 700;
}

.sheet-trigger > svg {
  color: #FFF;
}

.sheet-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.sheet-content {
  position: fixed;
  width: 15.875rem;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(11, 13, 23, 1);
}

@media (width >= 640px) {
  .navigation-menu {
    display: flex;
  }

  .sheet-trigger {
    display: none;
  }
}

/* ======================================== */
/* HEADER */
/* ======================================== */

.header {
    width: 100%;
    height: 5.5rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 50;
}

@media (width >= 640px) {
  .header {
    height: 6rem;
    padding: 0 0 0 2.5rem;
  }
}

@media (width >= 1280px) {
  .header {
    height: 8.5rem;
    padding: 2.5rem 0 0 4rem;
  }
}

/* ======================================== */
/* LOGO */
/* ======================================== */

  
  .logo {
      font-size: 28px;
      font-weight: bold;
      color: white;
  }

/* ======================================== */
/* MENU EXTRA */
/* ======================================== */

/*
.navigation-menu-list {
  display: flex;
  gap: 0.5rem;
}

.navigation-menu-list-item {
  background-color: rgba(53, 146, 29, 0.836);
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  backdrop-filter: blur(10px);
  transition: background-color 0.2s ease-in;
}

      IMPORTANTE:
   Davizinho senpai :D, eu removi o & hover porque isso é SCSS e não CSS puro,
   mas eu substituí por uma propriedade equivalente logo a seguir

  .navigation-menu-list-item:hover {
    background-color: rgba(255,255,255,0.25);
  }

  .navigation-menu-link {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
  }
*/

/* ======================================== */
/* LINKS */
/* ======================================== */


  .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
  }

  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
  }

  .nav-links a:hover {
    opacity: 0.7;
  }

/* ======================================== */
/* HERO */
/* ======================================== */


  .hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 8% 60px;
    gap: 40px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg,#1b4332,#2d6a4f,#40916c);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }

/* ======================================== */
/* VÍDEO */
/* ======================================== */

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

/* ======================================== */
/* OVERLAY */
/* ======================================== */

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  z-index: -1;
}

/* ======================================== */
/* TEXTO */
/* ======================================== */


  .hero-text, .hero-content {
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

/* ======================================== */
/* TAG */
/* ======================================== */

  .tag, .hero-tag {
    width: fit-content;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px 18px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: bold;
  }

/* ======================================== */
/* TÍTULO */
/* ======================================== */

  .hero-text h1, .hero-content h2 {
    font-size: 60px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
  }

/* ======================================== */
/* PARÁGRAFO */
/* ======================================== */

  .hero-text p, .hero-content p {
    font-size: 20px;
    color: rgba(255,255,255,0.85);
    line-height: 1.6;
    max-width: 600px;
  }

/* ======================================== */
/* BOTÕES */
/* ======================================== */

  .hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }

.btn-primary,
.btn-secondary {
  padding: 16px 28px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

/* BOTÃO PRINCIPAL */

.btn-primary {
  background: #43a047;
  color: white;
  border: rgba(255,255,255,0.3) solid 2px;
}

.btn-primary:hover {
  background: #023621;
  transform: translateY(-3px);
  color: white;
}

.hero-overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

/* BOTÃO SECUNDÁRIO */

.btn-secondary {
  border: rgba(255,255,255,0.3) solid 2px;
  color: white;
  background: #43a047;
  backdrop-filter: blur(10px);
}

.btn-secondary:hover {
  background: #023621;
  color: white;
  transform: translateY(-3px);
}

/* ======================================== */
/* IMAGEM */
/* ======================================== */

.hero-image {
  position: relative;
  z-index: 2;
}

.hero-image img {
  width: 100%;
  max-width: 550px;
  animation: float 4s ease-in-out infinite;
} 

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-image img {
  width: 100%;
  max-width: 550px;
}

/* ======================================== */
/* CARDS FLUTUANTES */
/* ======================================== */

.floating-cards {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 2;
}

/* CARD BASE */

.card {
  position: absolute; /* Verificar com Davi se é melhor esse ou o absolute */
  width: 220px;
  padding: 20px;
  border-radius: 24px;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 60px rgba(0,0,0,0.25);
}

/*TÍTULO DO CARD */

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/*TEXTO DO CARD */

.card p {
  font-size: 0.95rem;
  color: rgba(255,255,255,0.8);
  line-height: 1.5;
}

/*IMAGEM DO CARD */

.card img {
  width: 80px;
  margin-bottom: 15px;
}

/* ======================================== */
/* POSIÇÕES */
/* ======================================== */

.card-1 {
    bottom: -160px;
    right: 580px;
}

.card-2 {
    bottom: -160px;
    right: 340px;
}


/* ======================================== */
/* ANIMAÇÃO */
/* ======================================== */

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* ======================================== */
/* TRANSIÇÃO ENTRE SEÇÕES */
/* ======================================== */


.section-transition {
 width: 100%;
  height: 180px;

  background: linear-gradient(
    to bottom,
    rgba(63,149,105,0),
    rgba(63,149,105,0.9),
    #3f9569
  );

  margin-top: -180px;
  position: relative;
  z-index: 2;
}

/* ======================================== */
/* SOBRE */
/* ======================================== */

.sobre {
  width: 100%;
  min-height: 120vh;
  padding: 120px 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  position: relative;
  overflow: hidden;
background:
    radial-gradient(circle at top left, rgba(86, 193, 120, 0.18), transparent 30%),
    radial-gradient(circle at bottom right, rgba(120, 255, 180, 0.12), transparent 30%),
    linear-gradient(
      180deg,
      #3f9569 0%,
      #2f7c57 25%,
      #1f5d42 60%,
      #133728 100%
    );
  margin-top: -40px;
  padding-top: 140px;
}

.sobre::before {
  content: "";

  position: absolute;

  width: 700px;
  height: 700px;

  background: radial-gradient(
    circle,
    rgba(88,255,166,0.14),
    transparent 70%
  );

  top: -250px;
  right: -200px;

  z-index: 0;
}

.sobre-container {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

/* TEXTO SOBRE */

.sobre-text {
  flex: 1;
   background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 10px 60px rgba(0,0,0,0.2),
    inset 0 1px 1px rgba(255,255,255,0.05);

  padding: 70px;
  border-radius: 36px;
}

.sobre-text h2 {
  font-size: 1.1rem;
  line-height: 1.8;
  color: rgba(255,255,255,0.082);
}

.sobre-text p {
  font-size: 1.125rem;
  color: rgba(255,255,255,0.85);
  line-height: 1.6;
}

/* CARDS SOBRE */

.sobre-cards {
  flex: 1;
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}

.sobre-card {
  min-width: 260px;
  padding: 35px;
  border-radius: 30px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,0.12);
  box-shadow: 0 10px 40px rgba(0,0,0,0.18);
  transition: 0.4s ease;
  scroll-snap-align: center;
}

.sobre-card:hover {
  transform: translateY(-12px) scale(1.03);
  box-shadow: 0 20px 60px rgba(0,0,0,0.28);
  background: rgba(255,255,255,0.12);
}

.sobre-card h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.sobre-card p {
  font-size: 0.95rem;
  color: white;
  line-height: 1.5;
}


/* ======================================== */
/* RESPONSIVO */
/* ======================================== */

@media (max-width: 1100px) {

  .hero {
    flex-direction: column;
    text-align: center;
    text-align: center;
    padding-top: 160px;
    gap: 80px;
  }

  .hero-text, .hero-content {
    align-items: center;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-text h1, .hero-content h2 {
    font-size: 4rem;
  }
}

/* ======================================== */
/* MOBILE */
/* ======================================== */

@media (max-width: 700px) {

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-text h1, .hero-content h2 {
    font-size: 3rem;
  } 

  .hero-text p, .hero-content p {
    font-size: 1rem;
  }

  .floating-cards {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 100%;
    position: relative;
  }
 }
